@model LanguageCenter.Areas.Home.Models.TeacherModel.TeacherModel


<div class="modal-header" style=" background-color: #3ca4ab; color: white;">
    <h5 class="modal-title" id="exampleModalLabel">@Model.Title</h5>
    <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
    <form method="post" id="TeacherForm" action="@Url.Action("PostTeacher")">
        @*@Html.AntiForgeryToken()*@
        @Html.HiddenFor(x => x.TeacherID)
        @Html.HiddenFor(x => x.IsEdit)
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example1">Họ giáo viên</label>
            <input type="text" name="FirtName" id="FirtName" value="@Model.FirtName" autofocus class="form-control" tabindex="1" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example2">Tên giáo viên</label>
            <input type="text" name="LastName" id="LastName" value="@Model.LastName" class="form-control" tabindex="2" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example2">Email</label>
            <input type="text" name="Email" id="Email" value="@Model.Email" class="form-control" tabindex="3" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example2">Số điện thoại</label>
            <input type="text" name="NumberPhone" id="NumberPhone" value="@Model.NumberPhone" class="form-control" tabindex="4" />
        </div>
        <div class="form-outline mb-4">
            <label class="form-label" for="form1Example2">Mô tả</label>
            <textarea type="text" name="Description" id="Description" value="@Model.Description" class="form-control" tabindex="5" />
        </div>
    </form>

</div>
<div class="modal-footer">
    <button id="btnSave" name="submit" value="Save" class="btn-save-popup" form="TeacherForm" tabindex="6"><span class="OpenSans">Lưu</span></button>
    <a name="submit" value="Save" class="btn-exit-popup" tabindex="7"><span class="OpenSans">Thoát</span></a>
</div>
<script>
    $(document).ready(function () {
        $('.btn-exit-popup').off('click').on('click', function (e) {
            debugger
            e.preventDefault();
            $('#popUp').modal('hide');
            return;
        })
        $('#btnSave').off('click').on('click', function (e) {
            debugger
            e.preventDefault();
            debugger
            //var isValid = $('#TeacherForm').valid();
            //if (!isValid) {
            //    $("select.error + span")
            //        .find('span.select2-selection--single')
            //        .css('cssText', 'border: 1px solid #f58a73 !important');
            //    return false;
            //}
            var data = $('#TeacherForm').serialize();
            $.ajax({
                url: '/luu-giao-vien',
                data: data,
                type: 'POST',
                dataType: 'json',
                success: function (result) {
                    if (result.success) {
                        var data = result.message;
                        //showSuccess(data.Message);
                    }
                    else {
                        $.each(result,
                            function (index) {
                                message = result[index].Message;
                            });
                        
                    }
                },
                error: function (result) {
                    debugger
                    $.each(result,
                        function (index) {
                            message = result[index].Message;
                        });
                }
            });
            $('#TearcherTable').DataTable().ajax.reload()
        })
    });
</script>